/*!
 * Extra css setting
*/
/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
figcaption {
	font: italic small/1.2 Georgia, Times, "Times New Roman", Serif;
    font-size: 0.9em;
    text-align: center;
}

.margin-unset{
    margin: unset;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.page-footer {
    background-color: #37517e;
}


/*--------------------------------------------------------------
# breadcrumb
--------------------------------------------------------------*/
.breadcrumb-item.active {
    color: #444444;
 }

.breadcrumbs h1 {
    font-size: 28px;
    font-weight: 600;
    color: #37517e;
 }

 .breadcrumbs a {
    color: #11668d;
    text-decoration: none;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.groupd-section {
    padding: 50px 0;
}

.groupd-section .content h2 {
    text-transform: capitalize;
    font-weight: 450;
    font-size: 28px;
}

.groupd-section .content h3 {
    text-transform: capitalize;
    font-weight: 450;
    font-size: 26px;
}
  
.groupd-section-bg {
    background-color: #f3f5fa;
}


/*--------------------------------------------------------------
# Home Sesction Titles
--------------------------------------------------------------*/
.home-section-title {
    text-align: center;
    padding-bottom: 30px;
}

.home-section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}

.home-section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.home-section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}
  
/*--------------------------------------------------------------
# Introduction to common disabilities
--------------------------------------------------------------*/
  #home-cmi .content .btn-learn-more {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #257296;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #257296;
  }

  #home-cmi .content .btn-learn-more:hover {
    background: #257296;
    color: #fff;
    text-decoration: none;
  }


/*--------------------------------------------------------------
# Articles
--------------------------------------------------------------*/
article section{
    margin-bottom: 1em;
}


article header a {
    text-decoration: none;
}


article header h2 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.article-collapse:hover{
    cursor: pointer;
}


article h3,article h4,article h5,article h6{
    text-transform: capitalize;
    text-decoration: none;
}

article h3{
    margin-bottom: 0.5em;
}

article .bg-primary h3,article .bg-primary h4,article .bg-primary h5,article .bg-primary h6{
    color: #ffffff;
}

article .bg-primary a{
    color: #f18686;
}



article .no-underline-a{
    text-decoration: none !important;
}

article img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

article .card-header{
    margin-bottom: 0px;
    border-bottom: 0px;
}

